.form {
    margin: auto;
  }
.form--login{
  width: 30%;
}
.form--signup{
  width: 30%;
}
.Title {
  text-align: center;
  color: #5a5a5a;
  margin-bottom: 38px;
  font-size: 20px;
  font-family: monospace;
}