.formGroupClass{
  margin-bottom: 2rem;
}
.field{
  width: 100%;
  background: #fff;
  box-shadow: 0 0 1px 2px #0000002e;
  border-radius: 999px;
  padding: 10px 16px;
  font-family: monospace; 
  letter-spacing: 1px;
  outline: none;
  border: none;
  &::placeholder{
    font-family: monospace; 
    font-size: 15px;
  }
  &--StatusContent {
    border: none;
  }
  &--status {
    margin-bottom: 2rem;
    height: 100px;
    display: flex;
    border-radius: 1em;
    overflow-x: hidden;
    align-items: center;
    textarea {
      height: 100%;
      width: 99%;
      border-radius: 0;
    }
  }
}